body
{
    font-family: Arial, sans-serif;
    background: #111;
    color: #eee;
    padding: 20px;
}

#bazaar-container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.bazaar-item
{
    background: #353404;
    padding: 10px;
    border-radius: 6px;
}

.bazaar-item-common
{
    background: #353404;
    padding: 10px;
    border-radius: 6px;
}

.bazaar-item-uncommon
{
    background: #0f9337;
    padding: 10px;
    border-radius: 6px;
}

.bazaar-item-rare
{
    background: #0f5593;
    padding: 10px;
    border-radius: 6px;
}

.bazaar-item-epic
{
    background: #6e0f93;
    padding: 10px;
    border-radius: 6px;
}

.bazaar-item-legendary
{
    background: #c68610;
    padding: 10px;
    border-radius: 6px;
}

.bazaar-item-mythic
{
    background: #c61037;
    padding: 10px;
    border-radius: 6px;
}

.bazaar-item-supreme
{
    background: #c61037;
    padding: 10px;
    border-radius: 6px;
}

.bazaar-item-special
{
    background: #c61037;
    padding: 10px;
    border-radius: 6px;
}

.bazaar-item-very-special
{
    background: #c61037;
    padding: 10px;
    border-radius: 6px;
}