body
{
    font-family: Arial, sans-serif;
    background: #111;
    color: #eee;
    padding: 20px;
}

#bazaar-container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 10px;
}

.bazaar-item
{
    background: #353404;
    padding: 10px;
    border-radius: 6px;
}

.bazaar-item-enchantment
{
    background: #941766;
    padding: 10px;
    border-radius: 6px;
}

.bazaar-item-enchantment-ultimate
{
    background: #5a0b3d;
    padding: 10px;
    border-radius: 6px;
}

.bazaar-item-shard
{
    background: #0f5593;
    padding: 10px;
    border-radius: 6px;
}

